# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# WiFi
CONFIG_WIFI_SSID="CU_home"
CONFIG_WIFI_PASSWORD="wastemytimehome123456789"

# MQTT broker
CONFIG_MQTT_BROKER_URI="mqtts://58.87.80.78:8883"

# TLS: skip cert check (dev only)
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y

# Enable MQTT 5.0 (required for User Properties)
CONFIG_MQTT_PROTOCOL_5=y

# MQTT task stack
CONFIG_MQTT_TASK_STACK_SIZE=6144

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
